
body {
    margin: 0;
    font-family: sans-serif;
}

section {
    max-width: 700px;
    margin: auto;
    background-color: white;
}

article {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 3em;
}

article > footer {
    font-size: 75%;
    color: grey;
}

.header {
    margin-bottom: 4em;
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

.header-image {
    background: url("/imgs/beautiful-morning.jpg") center fixed;
    background-size: cover;
    position: relative;
    height: 450px;
}

.header-text {
    width: 75%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 70%; 
    left: 0; 
    bottom: 0; 
    right: 0;
    color: rgb(245, 243, 242);
}

.header-text a {
    text-decoration: none;
    color: rgb(245, 243, 242);
    /*
    text-shadow:1px 1px 0 rgb(110, 127, 140), 
                -1px -1px 0 rgb(110, 127, 140), 
                1px -1px 0 rgb(110, 127, 140), 
                -1px 1px 0 rgb(110, 127, 140), 
                1px 1px 0 rgb(110, 127, 140);
                */
}

.title {
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    letter-spacing: -0.04em;
    line-height: 1;
}

.subtitle {
    text-align: center;
    font-size: 18px;
    outline: 0;
    word-break: break-word;
    letter-spacing: -0.02em;
}

.post-title {
    letter-spacing: -0.02em;
    font-weight: 700;
    font-style: normal;
    display: block;
    font-size: 28px;
    line-height: 1.1;
    color: rgb(110, 127, 140);
}

.post-title a {
    color: rgb(110, 127, 140);
}

article > p {
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 1.5;
}

.pagination {
    text-align: center;
}

.footer {
    padding: 2em;
    color: rgb(110, 127, 140);
    background-color: rgb(7, 12, 7);
}

.footer-centre {
    max-width: 700px;
    margin: auto;
}

.footer-content {
    margin-left: 25px;
    margin-right: 25px;
}

.footer p {
}

.footer ul {
    padding: 0;
    list-style: none;
}

.footer li {
    display: inline;
    margin-right: 1em;
}

.footer a {
    text-decoration: none;
    color: rgb(245, 243, 242);
}

.footer a:hover {
    text-decoration: underline;
}

.twitter {
    height: 40px;
}

.feed {
    height: 50px;
}

/* palette 
 * rgb(110, 127, 140); // blue grey
 * rgb(7, 12, 7);      // blackish
 * rgb(65, 50, 36);    //brown
 * rgb(138, 120, 107); // beige
 * rgb(245, 243, 242); // cream
 */
