<footer class="footer">
    <div class="footer-centre">
        <div class="footer-content">
            <p>This is the personal web site of James Bloomer.</p>
            <p>I write <a href="/fiction">Fiction</a> and <a href="/software">Software</a>.</p>
            <p>You can find the full archive of blog posts <a href="/archive">here</a>.
       
            <ul>
                <li><a href="/feed"><img class="feed" src="/imgs/rss_transparent_white.png" /></a></li>
                <li><a href="http://www.twitter.com/jamesbloomer"><img class="twitter" src="/imgs/twitter_logo_white.png"/></a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>
