<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="The personal website of James Bloomer | Software & Fiction."/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/james.css"/>
    <link rel="alternate" type="application/atom+xml" title="James Bloomer Recent Entries" href="/atom.xml">
</head>
<body>
    <header class="header">
        <div class="header-image">
            <div class="header-text">
                <h1 class="title"><a href="/">James Bloomer</a></h1>
                <h2 class="subtitle"><a href="/fiction/">Fiction</a> & <a href="/software">Software</a></h2>
            </div>
        </div>
    </header>


